<?$this->display('common/header.phtml')?>
<body>
<div id="wrapper">
    <?$this->display('common/navigater.phtml')?>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        添加管理用户
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>admin/index">Admin</a>
                        </li>

                        <li class="active">
                            <i class="fa fa-edit"></i> 添加
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" style="min-height: 500px">
                <div class="col-lg-12">
                    <form role="form" method="post" enctype="multipart/form-data" action="<?=APP_URL?>admin/doadd">

                        <label>username</label>
                        <div class="form-group">
                            <input class="form-control" name="username" placeholder="username">
                        </div>

                        <label>password</label>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="password" type="password">
                        </div>

                        <div class="form-group">
                            <label>负责管理的区域</label>
                            <select class="form-control" name="location_id">
                                <?foreach($cities as $city):?>
                                    <option value="<?=$city['city_id']?>"><?=$city['city_name']?></option>
                                <?endforeach;?>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<?$this->display('common/footer.phtml')?>