<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        管理用户
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 管理用户列表
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row" style="min-height: 500px;">
                <div class="col-lg-12">
                    <h2>列表</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>admin_id </th>
                                <th>管理账户名</th>
                                <th>管理员等级</th>
                                <th>负责管理区域</th>
                                <th>status</th>
                                <th>创建时间</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($admins as $admin):?>
                                <tr>
                                    <td><?=$admin['id']?></td>
                                    <td><?=$admin['admin_user']?></td>
                                    <td><?=$admin['isroot']?></td>
                                    <td><?=$cityArray[$admin['location_id']]?></td>
                                    <td><?=$admin['status']?></td>
                                    <td><?=$admin['create_time']?></td>
                                    <td><a href="<?=APP_URL?>admin/edit?id=<?=$admin['id']?>">编辑</a></td>
                                    <td><a href="<?=APP_URL?>admin/delete?id=<?=$admin['id']?>">删除</a></td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>