<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        课程分类
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>city/index">业务城市</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 课程类别
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post" action="<?=APP_URL?>category/doadd">

                        <div class="form-group">
                            <label>为id=<?=$city_id?>的城市增加新课分类</label>
                            <input class="form-control" name="category" placeholder="课程分类名称">
                            <input type="hidden" name="city_id" value="<?=$city_id?>"/>
                        </div>
                        <div class="form-group ">
                            <label>是否包含静态页面</label>
                            <select class="form-control" name="type">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>课程分类的page_url(包含http://)</label>
                            <input class="form-control" name="page_url" placeholder="课程分类page_url">
                        </div>
                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>