<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        课程分类
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>city/index">业务城市</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 课程类别
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <h2>课程分类列表</h2>
                    <a href="<?=APP_URL?>category/add?city_id=<?=$city_id?>" class="btn btn-primary">添加课程类别</a>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>category_id </th>
                                <th>分类名称</th>
                                <th>是否包含静态页面</th>
                                <th>静态页地址</th>
                                <th>最近操作时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($categories as $category):?>
                                <tr>
                                    <td><?=$category['cate_id']?></td>
                                    <td><a href="<?=APP_URL?>course/index?city_id=<?=$category['city_id']?>&category_id=<?=$category['cate_id']?>"><?=$category['name']?></a></td>
                                    <td><?if($category['type'] ==1):?>包含<?else:?>不包含<?endif;?></td>
                                    <td><?=$category['page_url']?></td>
                                    <td><?=$category['updated_time']?:$category['created_time']?></td>
                                    <td><?$page = WWW_URL ."c/".$category['cate_id'].".html"?>
                                        <a href="<?=$category['page_url']?:$page?>" target="_blank">静态页预览</a>
                                        <a href="<?=APP_URL?>category/edit?cate_id=<?=$category['cate_id']?>">编辑</a>
                                        <a href="<?=APP_URL?>category/delete?cate_id=<?=$category['cate_id']?>&city_id=<?=$city_id?>">删除</a>
                                    </td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>