<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        用户添加
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>user/index">用户中心</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 添加用户
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post" action="<?=APP_URL?>user/doadd">
                        <div class="form-group">
                            <label>增加用户</label>
                            <input class="form-control" name="user_name" placeholder="用户名">
                        </div>
                        <div class="form-group ">
                            <label>mail</label>
                            <input type="text" name="email" class="form-control" placeholder="email">
                        </div>

                        <div class="form-group ">
                            <label>phone</label>
                            <input type="text" name="phone" class="form-control" placeholder="phone">
                        </div>

                        <div class="form-group ">
                            <label>密码</label>
                            <input type="password" name="password" class="form-control" placeholder="密码，请确认密码正确">
                        </div>

                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>