<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">
    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Users
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" method="post" action="<?=APP_URL?>user/doSearch">
                        <div class="form-group col-lg-4">
                            <input class="form-control" name="user_id" placeholder="用户ID">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" name="phone" placeholder="手机号">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" name="email" placeholder="邮箱,支持模糊搜索">
                        </div>
                        <button type="submit" class="btn btn-default">确定</button>
                        <a href="<?=APP_URL?>user/add" class="btn btn-primary">添加用户</a>
                    </form>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" style="min-height: 350px;">
                <div class="col-lg-12">

                    <h2></h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>用户ID</th>
                                <th>phone</th>
                                <th>email</th>
                                <th>注册时间</th>
                                <th>注册IP</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($users as $user):?>
                                <tr>
                                    <td><?=$user['uid']?></td>
                                    <td><?=$user['phone']?></td>
                                    <td><?=$user['email']?></td>
                                    <td><?=$user['create_time']?></td>
                                    <td><?=$user['register_ip']?></td>
                                    <td><?=$user['status']?></td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <nav>
                <ul class="pager">
                    <li>共 <?=$allno?>条 每页<?=ORDER_PAGE_SIZE?>条</li>
                    <?if(isset($prepage)):?>
                        <li><a href="<?=APP_URL?>user/index?page=<?=$prepage?>">Previous</a></li>
                        <li><a href="<?=APP_URL?>user/index?page=<?=$nextpage?>">Next</a></li>
                    <?endif;?>
                </ul>
            </nav>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>