<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Message
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Message
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row" style="min-height: 500px;">
                <div class="col-lg-12">
                    <h2>列表</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>id </th>
                                <th>用户昵称</th>
                                <th>联系方式(手机/微信/QQ)</th>
                                <th>留言内容</th>
                                <th>校区</th>
                                <th>创建时间</th>
                                <th>留言状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($messages as $message):?>
                                <tr>
                                    <td><?=$message['id']?></td>
                                    <td><?=$message['nick_name']?></td>
                                    <td><?=$message['phone']?>/<?=$message['wechat']?>/<?=$message['qq_num']?></td>
                                    <td><?=$message['content']?></td>
                                    <td><?=\Yaf\Registry::get('RcDesc')[$message['rc']]?></td>
                                    <td><?=$message['create_time']?></td>
                                    <td><?=\Yaf\Registry::get('MessageStatus')[$message['status']]?></td>
                                    <td>
                                <?if($message['status'] == 0):?>
                                    <a href="<?=APP_URL?>message/verify?id=<?=$message['id']?>">审核</a>
                                <?endif;?>
                                        <?if($message['status'] != -1):?>
                                    <a href="<?=APP_URL?>message/delete?id=<?=$message['id']?>">删除</a></td>
                                <?endif;?>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <nav>
                <ul class="pager">
                    <li>共 <?=$allno?>条 每页<?=ORDER_PAGE_SIZE?>条</li>
                    <?if(isset($prepage)):?>
                        <li><a href="<?=APP_URL?>message/index?page=<?=$prepage?>">Previous</a></li>
                        <li><a href="<?=APP_URL?>message/index?page=<?=$nextpage?>">Next</a></li>
                    <?endif;?>
                </ul>
            </nav>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>