<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                         <small>业务城市管理 </small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Cities
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post" action="<?=APP_URL?>city/add">

                        <div class="form-group">
                            <label>新增业务城市</label>
                            <input class="form-control" name="city" placeholder="城市名称">
                        </div>
                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>

            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <h2>业务城市列表</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>city id </th>
                                <th>城市名称</th>
                                <th>创建时间</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($cities as $city):?>
                                <tr>
                                    <td><?=$city['city_id']?></td>
                                    <td><?=$city['city_name']?></td>
                                    <td><?=$city['create_time']?></td>
                                    <td><a href="<?=APP_URL?>category/index?city_id=<?=$city['city_id']?>">进入</a></td>
                                    <td><a href="<?=APP_URL?>city/delete?city_id=<?=$city['city_id']?>">删除</a></td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>