<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        为现金支付的用户生成订单
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>order/index">订单中心</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 生成订单
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="alert alert-warning" role="alert">
                    您当前生成的订单的支付方式默认为 <strong>现金支付</strong> ， 其他信息均来自课程属性，请注意,这是为现金支付的同学准备的生成订单方式。
                </div>
                <div class="col-lg-6">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label>用户id</label>
                            <input class="form-control" name="user_id" placeholder="请输入用户id">
                        </div>
                        <div class="form-group ">
                            <label>课程id</label>
                            <input type="text" name="course_id" class="form-control" placeholder="请输入课程id">
                        </div>

                        <button type="button" name="orderSubmit" class="btn btn-default">预览订单</button>
                    </form>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" style="margin-top: 10px">
                <div class="well"></div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>

<script>
    $(document).on('click' , 'button[name=orderSubmit]' ,  function(e){

        var uid = $("input[name=user_id]").val();
        var cid = $("input[name=course_id]").val();

        // 注册用户
        $.ajax({
            url:  "http://platform.luboedu.cn/order/confirm",
            data: {uid: uid, cid : cid},
            type: 'post',
            success: function (data) {
                console.log(data);
                // clear the data first
                $('.well').html();
                $('button[name=orderConfirm]').remove();
                $('.well').html(data.data);
                $('.well').after('<button type="button" name="orderConfirm" class="btn btn-success">提交数据</button>');
            }
        });
    });


    $(document).on('click', 'button[name=orderConfirm]' ,function(e){
        var uid = $("input[name=user_id]").val();
        var cid = $("input[name=course_id]").val();

        // 注册用户
        $.ajax({
            url:  "http://platform.luboedu.cn/order/doadd",
            data: {uid: uid, cid : cid},
            type: 'post',
            success: function (data) {
                console.log(data);

                if(data.status) {
                    // navigate to
                    window.location.href="http://platform.luboedu.cn/order/index";
                }
            }
        });
    });

</script>
