<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">
    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Orders
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>购买课程</th>
                                <th>交易号</th>
                                <th>付款</th>
                                <th>创建时间</th>
                                <th>支付时间</th>
                                <th>购买用户</th>

                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($orders as $order):?>
                                <tr>
                                    <td><?=$order['order_id']?></td>
                                    <td><?=$order['course_name']?></td>
                                    <td><?=$order['trade_no']?></td>
                                    <td>￥<?=\Core\Functions::formatPrice($order['total_fee'])?></td>
                                    <td><?=$order['create_time']?></td>
                                    <td><?=$order['pay_time']?></td>
                                    <td><?=$order['user_id']?></td>

                                    <td><?=\Yaf\Registry::get('StatusDesc')[$order['status']]?></td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>

<script>

    // 数量显示完毕，不需要点击下一页
    <?if(count($orders) < ORDER_PAGE_SIZE):?>
    $(".pager li").eq(2).attr('class', 'disabled');
    <?endif;?>

</script>
