<?$this->display('common/header.phtml')?>
<body ng-app="platform" ng-controller="order">

<div id="wrapper" >
    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Orders
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12 ">
                <label>搜索订单</label>
                </div>
                <form onsubmit="return false">
                <div class="col-lg-2 text-center">
                    <div class="panel panel-default">
                        <input class="form-control" name="order_id" placeholder="订单ID" ng-model="query.order_id">
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="panel panel-default">
                        <input class="form-control" name="user_id" placeholder="用户ID" ng-model="query.user_id">
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="panel panel-default">
                        <input class="form-control" name="start_time" placeholder="支付时间开始于" value="" id="start_timepicker" ng-model="query.start_time">
                    </div>
                </div>

                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <input class="form-control" name="end_time" placeholder="支付时间结束于" value="" id="end_timepicker" ng-model="query.end_time">
                        </div>
                    </div>

                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <select class="form-control" name="pay_type" id="pay_type" ng-model="query.pay_type">
                                <option value="1" selected>支付宝</option>
                                <option value="2">现金</option>
                                <option value="3">微信公众号支付</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <select class="form-control" name="status" id="status" ng-model="query.status">
                                <option value="101" selected>待付款</option>
                                <option value="102">处理中</option>
                                <option value="103">已完成</option>
                                <option value="104">已取消</option>
                                <option value="105">已关闭</option>
                            </select>
                        </div>
                    </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" id="queryList" ng-click="queryList()">确定</button>
                    <a href="<?=APP_URL?>order/add" class="btn btn-primary">生成订单</a>
                </div>
                </form>
            </div>
            <!-- /.row -->

            <div class="row" >
                <div class="col-lg-12">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>购买课程</th>
                                <th>支付方式</th>
<!--                                <th>交易号</th>-->
                                <th>付款</th>
                                <th>创建时间</th>
                                <th>支付时间</th>
                                <th>购买用户</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="o in orders">
                                <td>{{o.order_id}}</td>
                                <td><a href="<?=WWW_URL?>course/detail?cid={{o.course_id}}" target="_blank">{{o.course_name}}</a></td>
                                <td>
                                    <span ng-show="o.pay_type == 1">支付宝</span>
                                    <span ng-show="o.pay_type == 2">现金</span>
                                    <span ng-show="o.pay_type == 3">微信支付</span>
                                </td>
<!--                                <td>{{o.trade_no}}</td>-->
                                <td>￥{{o.total_fee / 100}}</td>
                                <td>{{o.create_time}}</td>
                                <td>{{o.pay_time}}</td>
                                <td>{{o.user_id}}</td>
                                <td>
                                    <span ng-show="{101:1}[o.status]" class="label label-default label-xs">待付款</span>
                                    <span ng-show="{102:1}[o.status]" class="label label-info label-xs">处理中</span>
                                    <span ng-show="{103:1}[o.status]" class="label label-success label-xs">已完成</span>
                                    <span ng-show="{104:1}[o.status]" class="label label-warning label-xs">已取消</span>
                                    <span ng-show="{105:1}[o.status]" class="label label-danger label-xs">已关闭</span>
                                </td>
                                <td>
                                    <a ng-show="{101:1,102:1,103:1,104:1}[o.status]" href="<?=APP_URL?>order/close?order_id={{o.order_id}}">关闭</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <nav>
                <ul class="pager">
                    <li>共 {{allno}}条 共{{allno%30}}页</li>
                        <div ng-if="prepage != ''">
                        <li>
                            <button type="button" class="btn btn-default" id="p" ng-click="queryList(prepage)">上一页</button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default" id="b" ng-click="queryList(nextpage)">下一页</button>
                        </li>
                        </div>
                </ul>
            </nav>

            <pagination total-items="allno" rotate="false" items-per-page="30" ng-model="page" max-size="maxSize" previous-text="上一页" next-text="下一页" boundary-links="true" first-text="首页" last-text="尾页" ng-change="queryList()"></pagination>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>
<script src="<?=APP_URL?>assets/js/order.js"></script>
<script>

    // 数量显示完毕，不需要点击下一页
    <?if(count($orders) < ORDER_PAGE_SIZE):?>
    $(".pager li").eq(2).attr('class', 'disabled');
    <?endif;?>

</script>
