<table class="table table-hover">
    <thead>
    <tr>
        <th>订单号</th>
        <th>课程ID</th>
        <th>购买课程</th>
        <th>支付方式</th>
        <th>交易号</th>
        <th>付款</th>
        <th>创建时间</th>
        <th>支付时间</th>
        <th>购买用户</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <?foreach($orders as $order):?>
        <tr>
            <td><?if(empty($order['order_id'])):?>提交后显示<?else:?><?=$order['order_id']?><?endif;?></td>
            <td><?=$order['course_id']?></td>
            <td><?=$order['course_name']?></td>
            <td><?=\Yaf\Registry::get('PayType')[$order['pay_type']]?></td>
            <td><?if(empty($order['trade_no'])):?>无交易号<?else:?><?=$order['trade_no']?><?endif;?></td>
            <td>￥<?=\Core\Functions::formatPrice($order['total_fee'])?></td>
            <td><?=$order['create_time']?></td>
            <td><?=$order['pay_time']?></td>
            <td><?=$order['user_id']?></td>
            <td>
                <?if($order['status'] == ORDER_UNPAY_CODE):?>
                    <span class="label label-default label-xs"><?=\Yaf\Registry::get('StatusDesc')[$order['status']]?></span>
                <?elseif($order['status'] == ORDER_PAYING_CODE):?>
                    <span class="label label-default label-xs"><?=\Yaf\Registry::get('StatusDesc')[$order['status']]?></span>
                <?elseif($order['status'] == ORDER_FINISH_CODE):?>
                    <span class="label label-success label-xs"><?=\Yaf\Registry::get('StatusDesc')[$order['status']]?></span>
                <?elseif($order['status'] == ORDER_CANCEL_CODE):?>
                    <span class="label label-warning label-xs"><?=\Yaf\Registry::get('StatusDesc')[$order['status']]?></span>
                <?elseif($order['status'] == ORDER_CLOSE_CODE):?>
                    <span class="label label-danger label-xs"><?=\Yaf\Registry::get('StatusDesc')[$order['status']]?></span>
                <?endif;?>
            </td>
            <td>
                <?if($order['status'] != ORDER_CLOSE_CODE):?>
                    <a href="<?=APP_URL?>order/close?order_id=<?=$order['order_id']?>">关闭</a>
                <?else:?>

                <?endif;?>

            </td>
        </tr>
    <?endforeach;?>
    </tbody>
</table>
