<?$this->display('common/header.phtml')?>
<body>

<div id="page-wrapper" style="text-align: center">
    <div class="container">
        <div class="page-header">
            <h1>路博教育运营管理平台</h1>
        </div>
        <center>
            <div class="row">
                <div class="col-xm-6">
                    <div class="panel panel-primary" style="width: 500px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">用户登录</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-signin" method="post" enctype="multipart/form-data" action="<?=APP_URL?>welcome/dologin">

                                <label>用户名</label>
                                <div class="form-group">
                                    <input class="form-control" name="username" placeholder="username">
                                </div>

                                <label>密码</label>
                                <div class="form-group">
                                    <input class="form-control" name="password" placeholder="password" type="password">
                                </div>
                                <label>验证码</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="verify" placeholder="验证码" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><img src="<?=APP_URL?>welcome/verify" alt=""></span>
                                </div>
                                <button type="submit" class="btn btn-default">登录</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.col-sm-4 -->
            </div>
        </center>

    </div>
    <!-- /.container-fluid -->

</div>
<?$this->display('common/footer.phtml')?>