<?$this->display('common/header.phtml')?>
<body>
<div id="wrapper">
    <?$this->display('common/navigater.phtml')?>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        课程
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>city/index">业务城市</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>category/index?city_id=<?=$city_id?>">课程类别</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 编辑课程
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success" role="alert">
                        您正在为城市 <strong><?=$city['city_name']?></strong>  增加直播活动，要更换城市，请返回到业务城市列表重新选择。
                    </div>
                    <form role="form" method="post" enctype="multipart/form-data" action="<?=APP_URL?>live/doadd">

<!--                        <div class="form-group">-->
<!--                            <label>课程类别</label>-->
<!--                            <select class="form-control" name="cate_id">-->
<!--                                --><?//foreach($categories as $category):?>
<!--                                    <option value="--><?//=$category['cate_id']?><!--">--><?//=$category['name']?><!--</option>-->
<!--                                --><?//endforeach;?>
<!--                            </select>-->
<!--                        </div>-->
                        <label>课程名称</label>
                        <div class="form-group">
                            <input class="form-control" name="name" placeholder="课程名称" >
                        </div>

                        <div class="form-group col-lg-6" >
                                <input class="form-control" name="start_time" placeholder="活动时间开始于" value="" id="start_timepicker" ng-model="query.start_time">
                        </div>
                        <div class="form-group col-lg-6" >
                            <input class="form-control" name="end_time" placeholder="活动时间结束于" value="" id="end_timepicker" ng-model="query.end_time">
                        </div>
                        <div class="form-group">
                            <label>课程简介</label>
                            <textarea class="form-control" rows="3" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="detail_img">活动封面图</label>
                            <div class="alert alert-warning" role="alert">注意:图片大小为780px*240px,支持JPG、GIF、PNG格式，建议尺寸为1280*720，大小不超过1M</div>
                            <input type="file" name="cover_img" id="cover_img" value=""/>
                        </div>

                        <div class="form-group input-group col-xs-12">
                            <label for="teacher">直播功能：   </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="is_record" name="is_record" value="1"> 直播录制
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="needTimeShift" name="is_timeshift" value="1"> 直播时移
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="needFullView" name="is_fullview" value="1"> 全景观看
                            </label>
                        </div>

                        <div class="form-group input-group col-xs-12">
                            <label for="play_mode">播放模式：   </label>
                            <label class="radio-inline">
                                <input type="radio" name="play_mode" id="play_mode" value="0" > 实时直播
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="play_mode" id="play_mode" value="1"> 延时直播
                            </label>
                        </div>

                        <div class="form-group input-group col-xs-12">
                            <label for="coderate_type">清晰度：   </label>
<!--                            //取值范围：10 流畅；13 标清；16 高清；19 超清；22 720P；25 1080P；99 原画-->
                            <label class="checkbox-inline">
                                <input type="checkbox" id="coderate_type" name="coderate_type[]" value="13"> 标清
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="coderate_type" name="coderate_type[]" value="16"> 高清
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="coderate_type" name="coderate_type[]" value="19"> 超清
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="coderate_type" name="coderate_type[]" value="25"> 1080P
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="coderate_type" name="coderate_type[]" value="99"> 原画
                            </label>
                        </div>


                        <div class="form-group input-group col-xs-12">
                            <label for="live_num">机位数量： </label>
                            <label class="radio-inline">
                                <input type="radio" name="live_num" id="live_num" value="1" > 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="live_num" id="live_num" value="2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="live_num" id="live_num" value="3"> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="live_num" id="live_num" value="4"> 4
                            </label>
                        </div>


                        <input type="hidden" name="city_id" value="<?=$city_id?>">

                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<?$this->display('common/footer.phtml')?>
<script>
    // 日期组件初始化
    $('#start_timepicker').datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
    });
    $('#end_timepicker').datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
    });

</script>
