<?$this->display('common/header.phtml')?>
<body ng-app="platform" ng-controller="live">

<div id="wrapper" >
    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 直播活动
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12 ">
                <label>搜索直播活动</label>
                </div>
                <form onsubmit="return false">
                <div class="col-lg-2 text-center">
                    <div class="panel panel-default">
                        <input class="form-control" name="name" placeholder="直播活动名称" ng-model="query.name">
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="panel panel-default">
                        <input class="form-control" name="activity_id" placeholder="活动ID" ng-model="query.activity_id">
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="panel panel-default">
                        <input class="form-control" name="start_time" placeholder="支付时间开始于" value="" id="start_timepicker" ng-model="query.start_time">
                    </div>
                </div>

                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <input class="form-control" name="end_time" placeholder="支付时间结束于" value="" id="end_timepicker" ng-model="query.end_time">
                        </div>
                    </div>

                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <select class="form-control" name="status" id="status" ng-model="query.status">
                                <option value="0" selected>未开始</option>
                                <option value="1">直播中</option>
                                <option value="2">已中断</option>
                                <option value="3">已结束</option>
                            </select>
                        </div>
                    </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" id="queryList" ng-click="queryList()">确定</button>
                    <a href="<?=APP_URL?>live/add" class="btn btn-primary">新增直播</a>
                </div>
                </form>
            </div>
            <!-- /.row -->

            <div class="row" >
                <div class="col-lg-12">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>活动名称</th>
                                <th>活动ID</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>状态</th>
                                <th>观看人数</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="o in activities">
                                <td>{{o.name}}</td>
                                <td>{{o.activity_id}}</td>
                                <td>{{o.start_time}}</td>
                                <td>{{o.end_time}}</td>
                                <td>{{live_status[o.status]}}</td>
                                <td>{{o.s}}</td>
                                <td>{{o.create_time}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@OBS" data-activityId="{{o.activity_id}}"> 开始直播@OBS</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#liveUrl" data-activityId="{{o.activity_id}}"> 直播地址</button>
                                    <a  href="<?=APP_URL?>live/close?activity_id={{o.activity_id}}">关闭</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <nav>
                <ul class="pager">
                    <li>共 {{allno}}条 共{{allno%30}}页</li>
                        <div ng-if="prepage != ''">
                        <li>
                            <button type="button" class="btn btn-default" id="p" ng-click="queryList(prepage)">上一页</button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default" id="b" ng-click="queryList(nextpage)">下一页</button>
                        </li>
                        </div>
                </ul>
            </nav>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">开始直播</h4>
                        </div>
                        <div class="modal-body">
                            <p>Open Broadcaster Software是一款免费的的推流软件，您可以通过下载安装此软件进行直播 活动。丰富的推流功能适应于很多直播场景。</p>
                            <div class="list-group" ng-repeat="l in lives">
                                <label><span class="label label-info">机位{{$index+1}}:</span></label>
                                <p>推流地址:{{l.pushUrl}}</br>
                                机位状态:{{machine_status[l.status]}}</br>
                                推流ID:{{l.streamId}}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="liveUrl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">开始直播</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">在线直播地址:</label>
                                <p>{{playPageUrl}}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>
<script src="<?=APP_URL?>assets/js/live.js"></script>

<script>
    $.ajax({
        url:  'http://www.luboedu.dev/ajax/list',
        type:'post',
        data:{"date":"2016-03-27"},
        dataType:'json',
        success:function(data){
            console.log(data);
        }
    });
    </script>