<div class="ss" style="text-align: center;color: #4ca5e9;font-size: medium">Copyright © 2013-<?=date('Y')?> 北京路博天地教育科技有限公司</div>
<!-- jQuery -->
<script src="<?=APP_URL?>assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="<?=APP_URL?>assets/js/bootstrap.min.js"></script>
<script src="<?=APP_URL?>assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="<?=APP_URL?>assets/js/plugins/morris/raphael.min.js"></script>
<!--<script src="--><?//=APP_URL?><!--assets/js/plugins/morris/morris.min.js"></script>-->
<!--<script src="--><?//=APP_URL?><!--assets/js/plugins/morris/morris-data.js"></script>-->
<script>
    var url=window.location.toString();
    url = url.substr(7);
    var pos=url.indexOf("/");
    url = url.substr(pos + 1);

    pos=url.indexOf("/");
    url = url.substr(0,pos);
    $("li").attr("class","");

    $("li[rel="+url+"]").attr("class","active");
</script>
</body>

</html>
