<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<? use Core\Factory;APP_URL?>">路博教育运营管理中心</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><?=Factory::session()->get('admin_user')?><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="<?=APP_URL?>welcome/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li rel="index">
                <a href="<?=APP_URL?>"><i class="fa fa-fw fa-dashboard"></i> 仪表盘</a>
            </li>
            <li rel="city">
                <a href="<?=APP_URL?>city/index"><i class="fa fa-fw fa-bar-chart-o"></i> 业务管理</a>
            </li>
            <li rel="live">
                <a href="<?=APP_URL?>live/index"><i class="fa fa-fw fa-camera-retro"></i> 直播管理</a>
            </li>
            <li rel="course">
                <a href="<?=APP_URL?>course/index"><i class="fa fa-fw fa-table"></i> 所有课程</a>
            </li>
            <li rel="order">
                <a href="<?=APP_URL?>order/index"><i class="fa fa-fw fa-file"></i> 订单管理</a>
            </li>
            <li rel="banner">
                <a href="<?=APP_URL?>banner/index"><i class="fa fa-fw fa-image"></i> Banner管理</a>
            </li>
            <li rel="user">
                <a href="<?=APP_URL?>user/index"><i class="fa fa-fw fa-users"></i> 用户中心</a>
            </li>
            <li rel="message">
                <a href="<?=APP_URL?>message/index"><i class="fa fa-fw fa-comments-o"></i> 留言管理</a>
            </li>
            <?if(Factory::session()->get('admin_user') == 'root'):?>
            <li rel="admin">
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-cloud"></i> 权限管理 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="<?=APP_URL?>admin/add">增加管理用户</a>
                    </li>
                    <li>
                        <a href="<?=APP_URL?>admin/index">管理用户列表</a>
                    </li>
                    <li>
                        <a href="<?=APP_URL?>admin/list">权限管理</a>
                    </li>
                </ul>
            </li>
            <?endif;?>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>