<?$this->display('common/header.phtml')?>
<body>
<div id="wrapper">
    <?$this->display('common/navigater.phtml')?>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Banner 添加
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>banner/index">Banner</a>
                        </li>

                        <li class="active">
                            <i class="fa fa-edit"></i> 添加
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <form role="form" method="post" enctype="multipart/form-data" action="<?=APP_URL?>banner/doadd">

                        <label>banner 介绍</label>
                        <div class="form-group">
                            <input class="form-control" name="intro" placeholder="banner 介绍">
                        </div>

                        <label>banner 链接</label>
                        <div class="form-group">
                            <input class="form-control" name="href" placeholder="banner 链接">
                        </div>

                        <label>优先级</label>
                        <p>优先级，数字越小越先出现最小0，最大无限大,默认值5</p>
                        <div class="form-group">
                            <input class="form-control" name="priority" value="5" placeholder="banner 优先级">
                        </div>

                        <div class="form-group">
                            <label for="detail_img">banner 大图</label><span>图片大小：1600px * 454px</span>
                            <input type="file" name="banner_img" id="banner_img" value=""/>
                        </div>
                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<?$this->display('common/footer.phtml')?>