<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Banner
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Banner
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row" style="min-height: 500px;">
                <div class="col-lg-12">
                    <a href="<?=APP_URL?>banner/add" class="btn btn-primary">添加Banner</a>
                    <h2>列表</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>banner_id </th>
                                <th>介绍</th>
                                <th>链接</th>
                                <th>优先级</th>
                                <th>创建时间</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($banners as $banner):?>
                                <tr>
                                    <td><?=$banner['id']?></td>
                                    <td><?=$banner['introduction']?></td>
                                    <td><?=$banner['href']?></td>
                                    <td><?=$banner['priority']?></td>
                                    <td><?=$banner['create_time']?></td>
                                    <td><a href="<?=APP_URL?>banner/edit?id=<?=$banner['id']?>">编辑</a></td>
                                    <td><a href="<?=APP_URL?>banner/delete?id=<?=$banner['id']?>">删除</a></td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>