<?$this->display('common/header.phtml')?>
<body>
<div id="wrapper">
    <?$this->display('common/navigater.phtml')?>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        课程
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>city/index">业务城市</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>category/index?city_id=<?=$city_id?>">课程类别</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 编辑课程
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success" role="alert">
                        您正在为城市 <strong><?=$city['city_name']?></strong>  增加课程，要更换城市，请返回到业务城市列表重新选择。
                    </div>
                    <form role="form" method="post" enctype="multipart/form-data" action="<?=APP_URL?>course/doadd">
<!--                        <div class="form-group col-xs-6">-->
<!--                            <label>开通城市</label>-->
<!--                            <select class="form-control" name="city_id">-->
<!--                                --><?//foreach($cities as $city):?>
<!--                                    <option value="--><?//=$city['city_id']?><!--">--><?//=$city['city_name']?><!--</option>-->
<!--                                --><?//endforeach;?>
<!--                            </select>-->
<!--                        </div>-->

                        <div class="form-group">
                            <label>课程类别</label>
                            <select class="form-control" name="cate_id">
                                <?foreach($categories as $category):?>
                                    <option value="<?=$category['cate_id']?>"><?=$category['name']?></option>
                                <?endforeach;?>
                            </select>
                        </div>
                        <label>课程名称</label>
                        <div class="form-group">
                            <input class="form-control" name="name" placeholder="课程名称" >
                        </div>
                        <div class="form-group">
                            <label>课程适应人群</label>
                            <textarea class="form-control" rows="3" name="summary" ></textarea>

                        </div>
                        <div class="form-group">
                            <label>课程简介</label>
                            <textarea class="form-control" rows="3" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" name="addChapter" id="addChapter">添加章节</button>
                        </div>
                        <div id="chapterContent" class="col-lg-12" data-id="0">
                            <div class="form-group col-lg-6">
                                <input class="form-control" name="chapter[]" placeholder="章节名称">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success" name="addClass" id="addClass">添加课时</button>
                                <button type="button" class="btn btn-warning" name="removeClass" id="removeClass">删除最后一课</button>
                            </div>
                            <div class="classContent">
                                <div id="rowclass" class="col-lg-12">
                                    <div class="form-group col-xs-3">
                                        <input class="form-control"  name="chapter_0_class_name[]" placeholder="课时名称">
                                    </div>
                                    <div class="form-group col-xs-3">
                                        <input class="form-control"  name="chapter_0_uv[]" placeholder="uv">
                                    </div>
                                    <div class="form-group col-xs-3">
                                        <input class="form-control"  name="chapter_0_classware[]" placeholder="课件地址">
                                    </div>
                                    <div class="form-group col-xs-3">
                                        <label>是否试听</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="chapter_0_is_audition[]" id="is_audition" value="1">是
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group input-group col-xs-2">
                            <span class="input-group-addon">￥</span>
                            <input type="text" class="form-control" name="market_price" placeholder="市场价" value="">
                        </div>
                        <div class="form-group input-group col-xs-2">
                            <span class="input-group-addon">￥</span>
                            <input type="text" class="form-control" name="price" placeholder="实际售价" value="">
                        </div>
                        <div class="form-group input-group col-xs-2">
                            <label for="teacher">授课老师</label>
                            <input type="text" class="form-control" name="teacher" id="teacher"  placeholder="授课老师" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="detail_img">详情图</label>
                            <div class="alert alert-warning" role="alert">注意:图片大小为780px*240px</div>
                            <input type="file" name="detail_img" id="detail_img" value=""/>

                            <label for="">课程封面</label>
                            <div class="alert alert-warning" role="alert">注意图片大小为640px*366px</div>
                            <input type="file" name="list_img" id="list_img" value=""/>
                        </div>

                        <input type="hidden" name="city_id" value="<?=$city_id?>">

                        <button type="submit" class="btn btn-default">确定</button>
                    </form>
                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<?$this->display('common/footer.phtml')?>
<script>
    // 添加章节
    $(document).on('click', 'button[name=addChapter]',  function(){
        var chapterIndex = $('.Chapter').length;
//        console.log(chapterIndex);

        var newChapter = "<div class=\"Chapter\" class=\"col-lg-12\" data-id=\"" + (chapterIndex + 1) +"\"><div class=\"form-group col-lg-6\"><input class=\"form-control\" name=\"chapter[]\" placeholder=\"章节名称\"></div><div class=\"form-group\"><button type=\"button\" class=\"btn btn-success\" name=\"addClass\" id=\"addClass\">添加课时</button> <button type=\"button\" class=\"btn btn-warning\" name=\"removeClass\" id=\"removeClass\">删除最后一课</button></div><div class=\"classContent\"><div id=\"rowclass\" class=\"col-lg-12\"><div class=\"form-group col-xs-3\"><input class=\"form-control\"  name=\"chapter_"+ (chapterIndex+1) +"_class_name[]\" placeholder=\"课时名称\"></div><div class=\"form-group col-xs-3\"><input class=\"form-control\"  name=\"chapter_"+ (chapterIndex+1) +"_uv[]\" placeholder=\"uv\"></div><div class=\"form-group col-xs-3\"><input class=\"form-control\"  name=\"chapter_"+ (chapterIndex+1) +"_classware[]\" placeholder=\"课件地址\"></div><div class=\"form-group col-xs-3\"><label>是否试听</label><label class=\"checkbox-inline\"><input type=\"checkbox\" name=\"chapter_"+ (chapterIndex+1) +"_is_audition[]\" id=\"is_audition\" value=\"1\">是</label></div></div></div></div>";

//        $('#chapterContent').after(newChapter);
        if(chapterIndex == 0) {
            $('#chapterContent').after(newChapter);
        } else {
            $('.Chapter').last().after(newChapter);
        }
    });

    // 为当前单元添加课时
    $(document).on('click' , 'button[name=addClass]' ,  function(e){
        // 获取到章节id 为课时内容索引
        var chapterIndex = $(this).parent().parent().attr('data-id')
//        console.log($(this).parent().parent().attr('data-id'));
        var newClass = "<div id=\"rowclass\" class=\"col-lg-12\"><div class=\"form-group col-xs-3\"><input class=\"form-control\"  name=\"chapter_"+ (chapterIndex) +"_class_name[]\" placeholder=\"课时名称\"></div><div class=\"form-group col-xs-3\"><input class=\"form-control\"  name=\"chapter_"+ (chapterIndex) +"_uv[]\" placeholder=\"uv\"></div><div class=\"form-group col-xs-3\"><input class=\"form-control\"  name=\"chapter_"+ (chapterIndex) +"_classware[]\" placeholder=\"课件地址\"></div><div class=\"form-group col-xs-3\"><label>是否试听</label><label class=\"checkbox-inline\"><input type=\"checkbox\" name=\"chapter_"+ (chapterIndex) +"_is_audition[]\" id=\"is_audition\" value=\"1\">是</label></div></div>";
        $(this).parent().siblings('.classContent').append(newClass);
    });

    $(document).on('click', 'button[name=removeClass]', function(e){
       console.log('remove class start');
        // 删除classContent的最后一个元素
        $(this).parent().siblings('.classContent').children().last().remove();
    });

</script>
