<?$this->display('common/header.phtml')?>
<body>

<div id="wrapper">

    <?$this->display('common/navigater.phtml')?>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        课程
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="<?=APP_URL?>">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>city/index">业务城市</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> <a href="<?=APP_URL?>category/index">课程类别</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 课程
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row" style="min-height: 500px;">
                <div class="col-lg-12">
                    <?if($city_id != 0):?>
                        <a href="<?=APP_URL?>course/add?city_id=<?=$city_id?>" class="btn btn-primary">添加课程</a>
                    <?endif;?>
                    <h2>课程列表</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>id </th>
                                <th>课程</th>
                                <th>业务城市</th>
                                <th>课程分类</th>
                                <th>市场价</th>
                                <th>销售价</th>
                                <th>创建</th>
                                <th>更新</th>
                                <th>操作</th>
                                <th>操作</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?foreach($courses as $course):?>
                                <tr>
                                    <td><?=$course['id']?></td>
                                    <td><?=$course['name']?></td>
                                    <td><?=$course['city_id']?></td>
                                    <td><?=$course['cate_id']?></td>
                                    <td>￥<?=\Core\Functions::formatPrice($course['market_price'])?></td>
                                    <td>￥<?=\Core\Functions::formatPrice($course['price'])?></td>
                                    <td><?=$course['create_time']?></td>
                                    <td><?=$course['update_time']?></td>
                                    <td><a href="<?=WWW_URL?>course/detail?cid=<?=$course['id']?>" target="_blank">预览</a></td>
                                    <td><a href="<?=APP_URL?>course/edit?cid=<?=$course['id']?>">编辑</a></td>
                                    <td>
                                        <?if($course['status'] == -1):?>
                                        <a href="<?=APP_URL?>course/online?cid=<?=$course['id']?>"><span class="label label-default label-xs">上线</span></a><?else:?>
                                            <a href="<?=APP_URL?>course/offline?cid=<?=$course['id']?>"><span class="label label-info label-xs">下线</span></a>
                                        <?endif;?>
                                        </td>
                                    <td><a href="<?=APP_URL?>course/delete?cid=<?=$course['id']?>">删除</a></td>
                                </tr>
                            <?endforeach;?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<?$this->display('common/footer.phtml')?>